$contentColor: #f6e8c3;
$beforeColor: #4D666B;
$clipPathColor: #BEBDA5;
$carouselBackground: #823233;
$yellowPartColor: #B7562E;
$liBackground: #3B4647;
$redPartColor: #D36B68;
$black: #3C4748;